In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [7]:
data = pd.read_csv("trading_data.csv")
print(data.columns)
data = data.dropna()
data

Index(['Unnamed: 0', 'midprice', 'id', 'buy/sell', 'answeredprice', 'deal'], dtype='object')

      Unnamed: 0  midprice  id  buy/sell  answeredprice  deal
0              0   97.9990   4         1         98.016   0.0
1              1   97.9988   4        -1         98.001   1.0
2              2   97.9951   1        -1         97.979   0.0
3              3   97.9971   1         1         97.990   1.0
4              4   97.9961   1        -1         97.978   0.0
...          ...       ...  ..       ...            ...   ...
1995        1995   97.9966   1        -1         97.999   1.0
1996        1996   97.9958   3        -1         97.988   0.0
1997        1997   98.0002   4         1         97.984   1.0
1998        1998   98.0028   2        -1         97.985   0.0
1999        1999   97.9997   1         1         97.991   1.0

[2000 rows x 6 columns]

In [8]:
from sklearn.linear_model import LogisticRegression

In [13]:
X = data.loc[:, data.columns != 'y']
y = data.loc[:, data.columns == 'y']

y
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)
#logreg = LogisticRegression()
#logreg.fit(X_train, y_train)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[2000 rows x 0 columns]